<div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">Change password.</h1>
            </div>
            <h3></h3>  
            <p>{{info.getDesc()}}
            </p>
            <p i18n="register"> Change password.</p>
    
            <form class="m-t" role="form" (ngSubmit)="onSubmit(form)" #form="ngForm" >
                    <div class="form__group">
                            <label for="password" class="form__label">Create Password</label>
                            <input [(ngModel)]="password" [ngModelOptions]="{updateOn: 'blur'}" id="password" [min]="6" type="password" class="form__input validate-empty " required="" #passwordModel="ngModel" name="password" placeholder=""
                                >
                            <div class="alert alert-error alert-password"  [style.display]="(!passwordModel.valid && passwordModel.dirty) ? 'block' : 'none'">
                                Your password must be at least 6 characters long.
                            </div>
                        </div>
            
            
                        <div class="form__group">
                            <label for="password2" class="form__label">Confirm Password</label>
                            <input [(ngModel)]="confirmPassword" [ngModelOptions]="{updateOn: 'blur'}" confirm-field-validation [target]="password" id="password2" required="" #confirmPasswordModel="ngModel" type="password" class="form__input validate-empty "
                                name="password2" placeholder="" >
                            <div class="alert alert-error alert-password2"   [style.display]="(!confirmPasswordModel.valid && confirmPasswordModel.dirty) ? 'block' : 'none'">
                                Your password must be at least 6 characters long.
                            </div>
            
                        </div>
                    <button type="submit" [disabled]="!form.valid" (click)="change()" class="btn btn-primary block full-width m-b" i18n="register">Register</button>
     
            </form>
        </div> 
    </div> 
       