<div *ngIf="!isChecked">
    {{'Loading...'  }}
</div>
<div *ngIf="isChecked && isValid">
    {{'The email verificaiton was complete. you can login to the system.'  }}
</div>
<div *ngIf="isChecked && !isValid">
    {{'The email verificaiton was failed.Please try again.'  }}
</div>