form.form-profile input,form.form-profile textarea {
    margin-bottom: 18px;
    padding: 0px 20px;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    outline: 0px;
    text-align-last: left;
    text-align: left;
    max-width: 100%;
    font-size: 18px;
    line-height: 42px;
    height: 40px;
    color: #000000;
    font-family: 'source-sans-pro';
}
.main-banner-header p{
    font-size:15px;
    text-align: center;
    color: white;
    max-width: 450px;
    margin: auto;
}
.main-banner-header h2{
    font-size:36px;
    text-align: center;
    color: white;
}
h3{
    font-size:28px;
    font-family: 'Source Sans Pro';
    font-weight: 100;
}
h2{
    font-family: 'Source Sans Pro';
    font-weight: 100;
}
p{
    font-family: 'Source Sans Pro';
}
.main-banner-header{
    position: relative;
}
.main-banner-content{
    position: absolute;
    width: 100%;
    top: 35%;
}
.main-content{
    overflow: hidden;
    margin-bottom: 150px;
    border-bottom: 1px solid #e2e2e2;
}
@media (max-width: 1000px)
{
    .main-banner-content{
        top: 30%;
    }
}

@media (max-width: 767px)
{
    .main-banner-content{
        top: 15%;
    }
    .main-banner-header {
        margin-top: 60px;
    }
    .left-side-contact {
        display: none;
    }
    .right-side-contact {
        width:100%;
    }
    .main-banner-header-img{
        min-height: 190px;
    }
    .right-side-contact form{
        float: none;
    }
}

@media (max-width: 500px)
{
    .main-banner-header h2{
        font-size: 26px;
    }
    .main-banner-header p{
        font-size: 12px;
    text-align: center;
    color: white;
    max-width: 350px;
    margin: auto;
    }
}