<div class="main-banner-header">
    <div class="main-banner-content">
        <h2>
            Your satisfaction is our priority!
        </h2>
        <p>
            We’d love to hear from you and answer any question about our products and services. Feel free to contact us anytime!
        </p>
    </div>
    <img class="main-banner-header-img" src="img/contact-background.jpg" />
</div>
<div class="main-content">
    <div class="left-side-contact">
        <img class="woman-contact-img" src="img/contact-woman.png" />
    </div>
    <div class="right-side-contact">
        <form class="form-profile"  #form="ngForm" [ngClass]="{'has-ng-error': isFormTested }">
            <h3>
                Leave us a message
            </h3>
            <div>
                <input placeholder="Name" required [(ngModel)]="contactService.name" type=text name="name" />
            </div>
            <div>
                <input placeholder="Email" required [(ngModel)]="contactService.email" type=email name="email" />
            </div>
            <div>
                <input placeholder="Subject" required [(ngModel)]="contactService.subject" type=text name="subject" />
            </div>
            <div>
                <textarea required [(ngModel)]="contactService.message" name="message"></textarea>
            </div>

            <button [disabled]="contactService.isSubmiting"  (click)="send()" type=submit class="red">
                    <span *ngIf="contactService.isSubmiting"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
                    <span *ngIf="!contactService.isSubmiting">Save</span>
                </button>

        </form>
    </div>
</div>