<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">{{info.getName()}}</h1>
        </div>
        <h3></h3> 
        <p>{{info.getDesc()}}
        </p>
        <p i18n="login" >Login in. To see it in action.</p>
        <form>
            <div class="form-group">
                <input [(ngModel)]="email" name="email"  type="email" i18n-placeholder="login" class="form-control" required="" placeholder="Email" />
            </div>
            <div class="form-group">
                <input [(ngModel)]="password" name="password" type="password"  i18n-placeholder="login"  class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" i18n="login"  (click)="login()">Login</button>
        </form>
            <a href="#"><small i18n="login" >Forgot password?</small></a>
            <p class="text-muted text-center"><small  i18n="login" >Do not have an account?</small></p>
            <a routerLink="/register" class="btn btn-sm btn-white btn-block"  i18n="login" >Create an account</a>
        <p class="m-t"> <small></small> </p>
    </div>
</div> 
  