<!--
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">{{'Forgot your password?'}}</h1>
            <p>{{'Enter your email address below and we'll get you back on track.'  }}</p>
        </div>
        <h3></h3> 
        <p>{{info.getDesc()}}
        </p>
        <p i18n="login" >Login in. To see it in action.</p>
        <form>
            <div class="form-group">
                <input [(ngModel)]="email" name="email"  type="email" i18n-placeholder="login" class="form-control" required="" placeholder="Email" />
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" i18n="login"  (click)="send()">Send</button>
        </form>
            <a href="#"><small i18n="login" >Forgot password?</small></a>
            <p class="text-muted text-center"><small  i18n="login" >Do not have an account?</small></p>
            <a routerLink="/register" class="btn btn-sm btn-white btn-block"  i18n="login" >Create an account</a>
        <p class="m-t"> <small></small> </p>
    </div>
</div> 
-->