<!--
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div *ngIf="!isWatingForVerification">
        <div>
            <h2 class=" logo-name ">{{'Verify Your Phone Number.'  }}</h2>
        </div>
        <h3></h3>
        <p>
            {{ 'The next step is to verify your mobile phone number, which will be used for real-time notifications regarding your transaction.
            The phone number you provided is:'   }}
        </p>
        <p *ngIf="hasError && isChecked ">
            {{ 'You enter wrong phone number. please change it and try again.'   }}
        </p>

        <form class="m-t " role="form " (ngSubmit)="register(form) " #form="ngForm ">
            <div class="form-group ">
                <input phone-validation [(ngModel)]="phone " name="phone" #phoneModel="ngModel" class="form-control " placeholder="Phone
        " required=" " minlength="4 " required>
            </div>
            <button type="submit " [disabled]="!phoneModel.valid " (click)="validatePhoneNumber() " class="btn btn-primary block
        full-width m-b ">
                {{'Send Verification Code'  }}
            </button>
        </form>
    </div>
    <div *ngIf="isWatingForVerification">
        <div>
            <h2 class=" logo-name ">{{'Verify Your Phone Number.'  }}</h2>
        </div>
        <p> 
            {{'An SMS message containing a code has been sent to your phone. Please enter the 4 digit code below:'  }}
        </p>  
        <form class="m-t " role="form " (ngSubmit)="register(form) " #form="ngForm ">
            <div class="form-group ">
                    <input [(ngModel)]="digit1" name="digit1" class="form-control" required>
                    <input [(ngModel)]="digit2" name="digit2" class="form-control" required>
                    <input [(ngModel)]="digit3" name="digit3" class="form-control" required>
                    <input [(ngModel)]="digit4" name="digit4" class="form-control" required>
            </div>
            <button type="submit " [disabled]="!form.valid " (click)="validatePhoneCode() " class="btn btn-primary block
                full-width m-b ">
                {{'Verify'  }}
            </button>
        </form>
    </div>
</div>
-->