<!-- 
    <div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">{{info.getName()}}</h1>
        </div>
        <h3></h3>  
        <p>{{info.getDesc()}}
        </p>
        <p i18n="register"> Create account to see it in action.</p>

        <form class="m-t" role="form" (ngSubmit)="onSubmit(form)" #form="ngForm" >
                <div class="form-group">
                    <input [(ngModel)]="name" #nameValidator="ngModel" i18n-placeholder="register"  name="name" type="text" class="form-control" placeholder="Full Name" minlength="4" required>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="email" email-validation name="email"  i18n-placeholder="register"  type="email" class="form-control" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="phone" name="phone"  class="form-control" i18n-placeholder="register" placeholder="Phone" required="">
                </div>
                <div class="form-group"> 
                    <input [(ngModel)]="password" #passwordVal="ngModel"  name="password" type="password" i18n-placeholder="register" class="form-control" placeholder="Password" required="">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="confirmPassword" confirm-field-validation [target]="password" name="confirmPassword" type="confirmPassword" class="form-control" i18n-placeholder="register"  placeholder="Confirm Password" required="">
                </div>
                <div class="form-group">
                <div class="checkbox i-checks">
                <label> <input [(ngModel)]="isAgree" name="isAgree" type="checkbox" i18n="register"><i></i> <span  i18n="register" >Agree the terms and policy </span> </label>
                </div> 

                 </div>
                <button type="submit" [disabled]="!form.valid" (click)="register()" class="btn btn-primary block full-width m-b" i18n="register">Register</button>

                <p class="text-muted text-center"><small i18n="register">Already have an account?</small></p>
                <a routerLink="/login" class="btn btn-sm btn-white btn-block" i18n="register">Login</a>
        </form>
    </div> 
</div> 
-->